.weather-title {
    background-image: url('../../media/images/bg.jpg');
    text-align: center;
    color: #ffffff;
    height: 75vh;
    max-width: 350px;
    padding-top: 25vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

